.valid {
    color: rgba(21, 210, 21, 0.915);
    font-size: x-small;
}

.invalid {
    color: rgba(210, 40, 21, 0.915);
    font-size: x-small;
}

.invalid-password-container{
    margin-top: 1px;
    padding-left: 1.5rem;
}